/* .container {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1250px) {
    .container {
      width: 1250px;
    }
  } */

.grid{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}
.grid > div{
    padding: 2rem;
}
.no-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 8px;
}
#booking-svg{
  width: 35%;
  height: auto;
  /* filter: grayscale(100%); */
}