<div id="group" cdkDropListGroup>
    <mat-card class="group-wrapper" *ngFor="let group of groups; let i = index">
        <mat-card-title *ngIf="group.getObjectDB().isEsGrupo()">Sin grupo</mat-card-title>
        <mat-card-title *ngIf="!group.getObjectDB().isEsGrupo()">Grupo {{i}}</mat-card-title>
        <mat-list cdkDropList [cdkDropListData]="group.getObjectDB().getGrupo()" (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag *ngFor="let member of group.getObjectDB().getGrupo(); let ii = index">
                <mat-icon mat-list-icon>person</mat-icon>
                <p mat-line>{{member.getName()}}</p>
                <p mat-line *ngIf="member.getRefUser() === group.getObjectDB().getLider()">Lider de equipo</p>
                <ng-container *ngIf="!group.getObjectDB().isEsGrupo()">
                    <button mat-icon-button *ngIf="member.getRefUser() !== group.getObjectDB().getLider()"
                        matTooltip="Cambiar a lider" (click)="chageLeader(i, member.getRefUser())">
                        <img class="leader" src="../assets/imagenes/leader.png">
                    </button>
                    <button mat-icon-button matTooltip="Retirar del grupo {{i}}" (click)="moveWithoutGroup(i, member)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </ng-container>
                <button mat-icon-button color="primary" matTooltip="Expulsar estudiante del curso"
                    (click)="deleteStudent(deleteMessage, member, i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
<div class="wrap_button">
    <button mat-button color="primary" (click)="createGroup()">
        <mat-icon>add</mat-icon>Crear grupo
    </button>
</div>

<ng-template #deleteMessage>
    <app-delete-course-member-dialog [memberGroup]="memberToDelete"></app-delete-course-member-dialog>
</ng-template>