<app-navbar></app-navbar>
<div class="container">
    <div class="grid">
        <div class="columna" *ngFor="let materia of materias">
                <app-card-subject [subjectTitle]="materia.getSubjectInfo().nombre">
                    <div extra-info>{{materia.getSubjectInfo().docente}}</div>
                    <div content>
                        {{materia.getSubjectInfo().descripcion}}
                    </div>
                    <div actions>
                        <button mat-button (click)="goToPractices(materia.getSubjectId())">Ver prácticas</button>
                        <button mat-button (click)="goToDeleteSubject()">Desmatricular</button>
                    </div>
                </app-card-subject>
        </div>
        <div class="columna">
            <app-code-subject-card></app-code-subject-card>
        </div>
    </div>