.container {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.columna {
    padding: 1rem;
}

.materia-avatar {
    background-image: url('../../../assets/imagenes/subject.png');
    background-size: cover;
}

.toolbar-content {
    display: flex;
    padding: 2px 8px;
    width: 100%;
}

.left-options {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 1 0px;
}

.right-options {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 1 0px;
}

.navigation-btn:hover{
    background-color: midnightblue;
  }