<div class="grid">
    <div class="columna">
        <div class="info-practica">
            <div class="mat-display-1">
                Práctica de caida libre • Mécanica - Grupo A</div>
            <div class="mat-subheading-1">Creada por Jorge Adrián Muñoz Velasco • 12 de mayo
                <br>
                Agendamiento disponible desde 15 de mayo hasta el 22 de mayo
            </div>
            <mat-divider></mat-divider>
        </div>

        <div class="info-practica">
            <div class="mat-body-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas doloribus alias minus adipisci
                nisi iusto itaque, placeat corporis quibusdam doloremque saepe ipsam, laudantium eligendi molestias
                dolorem blanditiis dolore tempore.
                Esse vitae eaque facere nobis minus porro facilis voluptatibus vel aperiam, voluptatum, perspiciatis
                libero repellat. Dolor maiores non nostrum, tenetur obcaecati maxime laborum, consequuntur laudantium,
                dolore rerum totam ipsum officia.
                Blanditiis et quam unde facilis nihil natus, suscipit quisquam obcaecati impedit doloribus voluptatibus
                tenetur dignissimos laboriosam dicta dolore voluptatem dolorem! Repellat at amet corporis cum
                perspiciatis beatae ipsum consequatur odit!
                Nostrum, delectus molestias commodi asperiores libero unde, repellat eos illum sint, veritatis
                blanditiis. Maxime animi id eligendi laudantium a nobis sunt nesciunt neque odit, mollitia rerum minus,
                ex iste dicta.
                Velit officia facilis libero voluptate repellat nemo animi magni suscipit itaque odio error corporis ad
                aspernatur tempore quam saepe doloremque impedit rem cumque voluptatibus, nulla ab! Dicta laboriosam
                beatae eos!
            </div>
        </div>
    </div>
    <div class="columna">
        <mat-card>
            <div class="agendamiento">
                <div class="mat-subheading-2">
                    Tu Práctica
                </div>
                <div class="mat-subheading-1">
                    Sin Agendar
                </div>

            </div>
            <div class="botones">
                <button mat-button color="primary">Iniciar Práctica</button>
                <button mat-button color="accent">Ir A Agenda</button>
            </div>
        </mat-card>
    </div>
</div>