<div class="container">
    <div class="grid">
        <div class="columna">
            <div class="info-practica">
                <div class="mat-display-1">
                    Práctica de {{this.practiceSelected.getObjectDB().getNombre() | titlecase}} •
                    {{this.subjectSelected.getObjectDB().getNombre() | titlecase}}</div>
                <div class="mat-subheading-1">Creada por {{this.subjectSelected.getObjectDB().getDocente() | titlecase}}
                    • {{this.practiceSelected.getObjectDB().getFecha_creacion().seconds * 1000 | date: 'longDate'}}
                    <br>
                    Disponible desde {{this.practiceSelected.getObjectDB().getInicio().seconds * 1000 | date:
                    'longDate'}} • {{this.practiceSelected.getObjectDB().getFin().seconds * 1000 | date: 'longDate'}}
                </div>
                <mat-divider></mat-divider>
            </div>

            <div class="info-practica">
                <div class="mat-body-1">
                    {{this.practiceSelected.getObjectDB().getDescripcion()}}
                </div>
            </div>
        </div>
        <div class="columna">
            <mat-card>
                <div class="agendamiento">
                    <div class="mat-title">
                        Estado
                    </div>
                    <div class="mat-subheading-1">
                        Sin Agendar
                    </div>

                </div>
                <div class="botones">
                    <button (click)="startPractice()" mat-flat-button color="primary">Iniciar Práctica</button>
                    <button (click)="goToBookings()" mat-button color="primary">Ir A Agenda</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>