<mat-card id="addPractice" *ngIf="!newPractice; else addPractice" (click)="newPractice = !newPractice">
    <mat-icon mat-list-icon color="primary">task</mat-icon>
    <div class="text">
        Publicar nueva practica
    </div>
</mat-card>
<ng-template #addPractice>
    <app-add-practice-form></app-add-practice-form>
</ng-template>
<mat-card *ngFor="let practice of practices" (click)="showPractice(practice.getObjectDB())">
    <mat-icon mat-list-icon color="primary">task</mat-icon>
    <div class="text">
        <div class="title">
            Practica: {{practice.getObjectDB().getNombre()}}
        </div>
        {{practice.getObjectDB().getFecha_creacion().seconds * 1000 | date: 'longDate'}}
    </div>
</mat-card>