<mat-dialog-content>
    <h2 mat-dialog-title>Crear grupo de trabajo</h2>
    <mat-stepper #stepper linear>
        <mat-step completed="false">
            <ng-template matStepLabel>Selección de estudiantes</ng-template>
            <br>
            <div class="mat-body-2">Selecciona los estudiantes que conformarán tu grupo de trabajo para
                {{this.data.subjectSelected.getObjectDB().getNombre()}}
                <br>
                Número máximo de integrantes {{this.data.subjectSelected.getObjectDB().getNumGrupos()}}
            </div>
            <ng-container *ngIf="this.data.studentsWithOutGroup.getObjectDB().getGrupo().length > 0">
                <mat-selection-list [multiple]="true" color="primary" [(ngModel)]="selectedGroup"
                    (ngModelChange)="onGroupsChange($event)" ngDefaultControl>
                    <mat-list-option selected disabled [value]="this.data.currentUser">
                        {{this.data.currentUser.getName()}} • (Tú)
                    </mat-list-option>
                    <ng-container *ngFor="let student of this.data.studentsWithOutGroup.getObjectDB().getGrupo()">
                        <mat-list-option [value]="student">
                            {{student.getName()}}
                        </mat-list-option>
                    </ng-container>
                </mat-selection-list>
            </ng-container>
            <div class="buttons-stepper">
                <button mat-raised-button color="primary" (click)="onGroupSelected()">Siguiente</button>
            </div>
        </mat-step>
        <mat-step completed="false">
            <ng-template matStepLabel>Selección de lider</ng-template>
            <br>
            <div class="mat-body-2">Selecciona el líder del grupo de trabajo</div>
            <mat-selection-list [multiple]="false" color="primary" [(ngModel)]="leaderSelected" ngDefaultControl>
                <mat-list-option [value]="this.data.currentUser">
                    {{this.data.currentUser.getName()}} • (Tú)
                </mat-list-option>
                <ng-container *ngFor="let member of this.selectedGroup">
                    <mat-list-option [value]="member" *ngIf="member.getId() != this.data.currentUser.getId()">
                        {{member.getName()}}
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
            <div class="buttons-stepper">
                <button mat-raised-button matStepperPrevious>Atrás</button>
                <button mat-raised-button (click)="onLeaderSelected()" color="primary">Seleccionar líder</button>
            </div>
        </mat-step>
        <mat-step completed="false">
            <ng-template matStepLabel>Confirmación de grupo</ng-template>
            <br>
            <div class="mat-body-2">Verifica la información de tu grupo de trabajo</div>
            <mat-list *ngIf="leaderSelected">
                <!-- <mat-list-item *ngIf="leaderSelected">
                    <mat-icon mat-list-icon>badge</mat-icon>
                    <div mat-line>{{leaderSelected[0].getName()}}</div>
                    <div mat-line>Líder</div>
                </mat-list-item> -->
                <mat-list-item *ngFor="let member of selectedGroup">
                    <ng-container *ngIf="member != leaderSelected[0]; else leader">
                        <mat-list-item>
                            <mat-icon mat-list-icon>person</mat-icon>
                            <div mat-line>{{member.getName()}}</div>
                            <div mat-line>Miembro</div>
                        </mat-list-item>
                    </ng-container>
                    <ng-template #leader>
                        <mat-list-item>
                            <mat-icon mat-list-icon>badge</mat-icon>
                            <div mat-line>{{leaderSelected[0].getName()}}</div>
                            <div mat-line>Líder</div>
                        </mat-list-item>
                    </ng-template>
                </mat-list-item>
            </mat-list>
            <div class="buttons-stepper">
                <button mat-raised-button matStepperPrevious>Atrás</button>
                <button mat-raised-button (click)="onCreateGroup()" mat-dialog-close="groupCreated"
                    color="primary">Crear
                    grupo</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>