.container {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  }

.columna {
  padding: 2rem;
}
.icon-display {
  transform: scale(1.3);
}
.botones{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    margin-top: 1rem;
}
.encabezado{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.no-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 8px;
}
.header-groups{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#currentUser{
  margin-top: 1rem;
}
#no-group-svg{
  width: 40%;
  height: auto;
  /* filter: grayscale(100%); */
}
#label-groups{
  margin-bottom: 10px;
}
#icon-create-group:hover{
  cursor: pointer;
}