<div class="container">
    <div class="columna">
        <div class="header-groups">
            <div id="label-groups" class="mat-display-1">Grupo de trabajo</div>
            <mat-icon *ngIf="!this.studentGroup" (click)="onCreateGroup()" id="icon-create-group"
                matTooltip="Crear grupo" mat-list-icon>group_add</mat-icon>
        </div>
        <ng-container *ngIf="this.studentGroup; else noGroup">
            <mat-divider></mat-divider>
            <mat-list>
                <ng-container *ngFor="let member of studentGroup.getObjectDB().getGrupo()">
                        <mat-list-item  *ngIf="member.getId() == studentGroup.getObjectDB().getLider() ; else memberGroup">
                            <mat-icon mat-list-icon class="icon-display">badge</mat-icon>
                            <div mat-line>{{member.getName()}}</div>
                            <div mat-line>Lider</div>
                        </mat-list-item>
                    <ng-template #memberGroup>
                        <mat-list-item>
                            <mat-icon mat-list-icon class="icon-display">person</mat-icon>
                            <div mat-line>{{member.getName()}}</div>
                            <div mat-line>Miembro</div>
                        </mat-list-item>
                    </ng-template>
                </ng-container>
            </mat-list>
        </ng-container>

        <ng-template #noGroup>
            <mat-divider></mat-divider>
            <div class="no-group">
                <img src="../../../assets/imagenes/nogroup.png" alt="" id="no-group-svg">
                <div class="mat-body-1">No tienes grupo de trabajo</div>
                <div class="mat-body-2">Agrega estudiantes a tu grupo de trabajo</div>
                <button mat-button color="primary" (click)="onCreateGroup()">
                    <mat-icon>group_add</mat-icon>
                    Crear grupo
                </button>
            </div>
        </ng-template>
    </div>
</div>