<div class="container">
    <div class="grid">
        <div class="columna">
            <mat-card>
                <mat-list>
                    <div mat-subheader class="encabezado">
                        <mat-icon mat-list-icon class="icon-display">group</mat-icon>
                        <div>Equipo de trabajo</div>
                    </div>
                    <ng-container *ngIf="this.studentGroup !== undefined; else noGroup">
                        <mat-list-item *ngFor="let member of studentGroup.getObjectDB().getGrupo()">
                            <mat-icon mat-list-icon class="icon-display">person</mat-icon>
                            <div mat-line>{{member.getName()}}</div>
                            <div mat-line>Miembro</div>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-card>
        </div>
        <div class="columna">
            <mat-card>
                <mat-selection-list>
                    <div mat-subheader class="encabezado">
                        <mat-icon mat-list-icon class="icon-display">group_off</mat-icon>
                        <div>Estudiantes sin grupo / Mécanica - Grupo A</div>
                    </div>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Pedro Perez
                    </mat-list-option>
                </mat-selection-list>
                <div class="botones">
                    <button mat-stroked-button color="primary">AÑADIR AL GRUPO</button>
                </div>
            </mat-card>
        </div>
    </div>

    <ng-template #noGroup>
        Sin grupo camarada
    </ng-template>
</div>

