<div class="container">
    <div class="grid">
        <div>
            <mat-card>
                <mat-selection-list>
                    <div mat-subheader>
                        <mat-icon mat-list-icon>group</mat-icon>
                        Grupo de trabajo (4 personas)
                    </div>
                    <mat-list-option disabled="true">
                        <mat-icon mat-list-icon>account_box</mat-icon>
                        Jorge Iván Solano (Lider)
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>person</mat-icon>
                        Juan Pablo Solarte
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>person</mat-icon>
                        Jefferson Campo
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>person</mat-icon>
                        Dany Díaz
                    </mat-list-option>
                </mat-selection-list>

                <div class="botones">
                    <button mat-stroked-button color="accent">ELIMINAR</button>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-selection-list>
                    <div mat-subheader>
                        <mat-icon mat-list-icon>group_off</mat-icon>
                        Estudiantes sin grupo / Mécanica - Grupo A
                    </div>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Pedro Perez
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Ivan Sanchez
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Otro estudiante
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Otro estudiante
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Otro estudiante
                    </mat-list-option>
                    <mat-list-option>
                        <mat-icon mat-list-icon>group_add</mat-icon>
                        Otro estudiante
                    </mat-list-option>
                </mat-selection-list>
                <div class="botones">
                    <button mat-stroked-button color="primary">AÑADIR AL GRUPO</button>
                </div>
            </mat-card>

        </div>
    </div>
</div>