<app-navbar>
    <button mat-icon-button rightOptions matTooltip="Crear curso">
        <mat-icon>add</mat-icon>
    </button>
</app-navbar>
<div class="container">
    <div class="grid">
        <mat-card *ngFor="let subject of materias">
            <div class="header" (click)="goToSubject(subject)">
                <mat-card-header>
                    <mat-card-title>{{subject}}</mat-card-title>
                </mat-card-header>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions align="end">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>