form {
  display: grid;
  width: 95%;
  grid-row-gap: 0.5em;
}

.oneField{
  display: grid;
  justify-items: center;
  grid-row-gap: 0.5em;
}

.fullSize {
  width: 100%;
}

mat-card{
  border: 0.5px solid rgb(199, 198, 198);
  margin-bottom: 1rem;
  display: grid;
  justify-items: center;
}

.twoFields{
  display: grid;
  grid-template-columns: 50% 50%;
}

.middleWrapper{
  display: flex;
  justify-content: center;
}

#startWrapper{
  display: flex;
  justify-content: flex-start;
}

#endWrapper{
  display: flex;
  justify-content: flex-end;
}

textarea{
  resize: none;
  height: 8rem;
  min-height: 3rem;
  max-height: 8rem;
}

mat-label{
  color: black;
}

#buttonCancel{
  margin-right: 1rem;
}