<mat-card>
    <div id="main">
        <div [formGroup]="practiceForm">
            <h2>Practica</h2>
            <div class="oneField">
                <mat-form-field appearance="fill" class="fullSize">
                    <mat-label>Ingresa el nombre de la practica</mat-label>
                    <input matInput placeholder="Nombre de practica" formControlName="name" required>
                    <mat-error *ngIf="practiceForm.get('name')?.touched">{{getErrorMessage('name')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="fullSize">
                    <mat-label>Descrición de la practica (opcional)</mat-label>
                    <textarea matInput #description placeholder="Descripción" formControlName="description"></textarea>
                    <mat-hint align="end">{{description.value.length}} / {{fieldFeatures['description'][1]}}</mat-hint>
                    <mat-error *ngIf="practiceForm.get('description')?.touched">{{getErrorMessage('description')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="twoFields">
                <div class="middleWrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Fin de la practica</mat-label>
                        <input type="date" matInput placeholder="nombre de practica" required formControlName="end">
                        <mat-error *ngIf="practiceForm.get('end')?.touched">{{getErrorMessage('end')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="middleWrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Planta requerida</mat-label>
                        <mat-select formControlName="plant" (selectionChange)="onChangeSelect()">
                            <mat-option *ngFor="let plant of plants" [value]="plant.getId()">
                                {{plant.getObjectDB().getNombre()}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="practiceForm.get('plant')?.touched">{{getErrorMessage('plant')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h2 *ngIf="constants.length > 0">Constantes:</h2>
            <div id="flexFields">
                <div *ngFor="let const of constants">
                    <mat-form-field appearance="fill">
                        <mat-label>{{const.getId()}} ({{units[const.getId()]}})</mat-label>
                        <mat-select multiple formControlName={{const.getId()}}>
                            <mat-option *ngFor="let val of const.getObjectDB(); let i = index " [value]="i+1">{{val}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="practiceForm.get(const.getId())?.touched">{{getErrorMessage(const.getId())}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="oneField">
                <mat-list>
                    <mat-list-item *ngFor="let fileLink of fileLinks">
                        <img src="./assets/imagenes/{{fileLink.getImage()}}.png" (click)="openFile(fileLink)">
                        <div (click)="openFile(fileLink)" class="docs">
                            {{fileLink.getName().split('.')[0]}}
                            <br>
                            {{fileLink.getExt()}}
                        </div>
                        <div class="optionsDocs">
                            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onRemoveFile(fileLink)">Quitar archivo</button>
                            </mat-menu>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="twoFields">
                <div id="startWrapper">
                    <button mat-mini-fab color="primary" (click)="fileInput.click()">
                        <mat-icon>file_upload</mat-icon>
                    </button>
                    <input hidden (change)="onFileSelected($event)" #fileInput formControlName="documents"
                        accept='{{accept}}' type="file">
                </div>
                <div id="endWrapper">
                    <button mat-button id="buttonCancel" (click)="onCancel()" [disabled]="startSubmit">Cancelar</button>
                    <button mat-raised-button color="primary" [disabled]="practiceForm.invalid || !flag"
                        (click)="onSubmit()">Publicar</button>
                    <button mat-flat-button color="primary" id="publicOptions"
                        [disabled]="practiceForm.invalid || !flag" [matMenuTriggerFor]="menuPublic">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #menuPublic="matMenu">
                        <button mat-menu-item>Publicar practica</button>
                        <button mat-menu-item (click)="onSchedulePractice(schedulePractice)">Programar practica</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="startSubmit"></mat-progress-bar>
</mat-card>

<ng-template #schedulePractice>
    <app-schedule-practice [endDate]="this.practiceForm.get('end')?.value"></app-schedule-practice>
    <!-- <app-delete-dialog [user]="deletedUser.getObjectDB()"></app-delete-dialog> -->
</ng-template>