#centered-wrapper {
  display: grid;
  justify-items: center;
}

#wrapper {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

#left {
  background-color: aqua;
  width: 50rem;
}

#right {
  background-color: blue;
  width: 25rem;
}

@media (max-width: 75rem) {
    #wrapper {
      flex-direction: column;
    }
  }