.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    user-select: none;
}

.login {
    width: 100%;
    max-width: 330px;
    min-width: 250px;
    text-align: center;
}

#google {
    width: 25px;
    height: 25px;
}