<mat-dialog-content>
    <mat-selection-list [multiple]="false" color="primary" #leaderSelection [(ngModel)]="leaderSelected" (ngModelChange)="onLeaderChange($event)">
        <div mat-dialog-title class="header">
            <mat-icon mat-list-icon class="icon-display">manage_accounts</mat-icon>
           Seleccione el líder del grupo
        </div>
        <!-- <mat-list-option>
            <mat-icon mat-list-icon class="icon-display">supervisor_account</mat-icon>
            {{data.currentUser.getName()}} • (Tú)
        </mat-list-option> -->
        <mat-list-option *ngFor="let member of data.selectedGroup" [value]="member">
            <mat-icon mat-list-icon class="icon-display">supervisor_account</mat-icon>
            <ng-container *ngIf="member.getId() != data.currentUser.getId(); else currentUser">
                {{member.getName()}}
            </ng-container>
            <ng-template #currentUser>
                {{member.getName()}} • (Tú)
            </ng-template>
        </mat-list-option>
    </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button mat-stroked-button [mat-dialog-close]="this.leaderSelection" (click)="onGoToSelectLeader()" color="primary" #btnSetLeader disabled="true">Seleccionar líder</button>
    <button mat-stroked-button mat-dialog-close="close" color="primary">Cerrar</button>
</mat-dialog-actions>