#main {
  display: grid;
  grid-row-gap: 0.5em;
}

.oneField {
  display: grid;
  justify-items: center;
  grid-row-gap: 0.5em;
}

.oneField mat-form-field {
  width: 100%;
}

.middleWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  height: 8rem;
  min-height: 3rem;
  max-height: 8rem;
}

mat-progress-bar {
  margin-top: 1rem;
}

mat-dialog-actions {
  display: grid;
  grid-template-columns: 50% 50%;
}
