#middle_wrap_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap_list{
    min-width: 20rem;
    width: 50%;
}

.wrap_button{
    display: flex;
    justify-content: center;
    align-items: center;
}