<app-navbar>
    <button mat-icon-button rightOptions matTooltip="Cambiar jefe de departamento" *ngIf="special" (click)="onChangeHead(changeHead)">
        <mat-icon>change_circle</mat-icon>
    </button>
</app-navbar>
<div></div>
<div id="middle_wrap_list">
    <div id="wrap_list">
        <app-user-list [titleList]="'Docentes'" [userList]="teachers" (deleteUser)="deleteUser($event)">
        </app-user-list>
        <br>
        <div class="wrap_button">
            <button mat-button color="primary" (click)="onAddUser(addMessage, 'Docente')">
                <mat-icon>add</mat-icon>Añadir Docente
            </button>
        </div>
        <br>
        <app-user-list [titleList]="'Laboratoristas'" [userList]="laboratorians" (deleteUser)="deleteUser($event)">
        </app-user-list>
        <br>
        <div class="wrap_button">
            <button mat-button color="primary" (click)="onAddUser(addMessage, 'Laboratorista')">
                <mat-icon>add</mat-icon>Añadir Laboratorista
            </button>
        </div>
    </div>
</div>

<ng-template #addMessage>
    <app-add-dialog [rol]="addUserRol" (addUser)="closeAddDialog($event)"></app-add-dialog>
</ng-template>

<ng-template #changeHead>
    <app-change-department-head></app-change-department-head>
</ng-template>