.container {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  }
  .left-options{
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 1 0px;
  }
  .right-options{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 1 0px;
  }
  .center-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
  }

  .toolbar-content{
    display: flex;
    padding: 2px 8px;
    width: 100%;
  }

  .navigation-btn:hover{
    background-color: rgb(31, 31, 124);
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .selected {
    background-color: rgb(31, 31, 124);
    color: white;
  }