<mat-toolbar color="primary" class="mat-elevation-z4">
  <div class="toolbar-content">
    <div class="left-options">
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="goToHome()">
          <mat-icon>home</mat-icon>
          Inicio
        </button>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let subject of subjects">
          <button mat-menu-item (click)="goToSubjectTopBar(subject)">
            <mat-icon>book</mat-icon>
            {{subject.getObjectDB().getNombre() | titlecase}}
          </button>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-menu>
      <a (click)="goToPractices()" >{{this.subjectSelected.getObjectDB().getNombre()}}</a>
    </div>
    <div class="center-options">
      <button mat-button class="navigation-btn" (click)="goToPractices() " [ngClass]="{ 'selected': navigationService.practicasSelected }">
        <mat-icon>biotech</mat-icon>
        Prácticas
      </button>
      <button mat-button class="navigation-btn" (click)="goToGroups()" [ngClass]="{ 'selected': navigationService.gruposSelected }">
        <mat-icon>groups</mat-icon>
        Grupos
      </button>
    </div>
    <div class="right-options">
      <button mat-button class="navigation-btn" (click)="logOut()">
        <mat-icon>logout</mat-icon>
        Salir
      </button>
    </div>
  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>