<!-- <app-navbar>
  <div leftOptions>{{this.subjectSelected.getObjectDB().getNombre()}}</div>
  <mat-tab-group midOptions animationDuration="0ms"  selectedIndex="0" (selectedTabChange)="changeTab($event)">
    <mat-tab label="Prácticas"></mat-tab>
    <mat-tab label="Calendario"></mat-tab>
    <mat-tab label="Grupos"></mat-tab>
  </mat-tab-group>
</app-navbar>
<div>
  <router-outlet></router-outlet>
</div> -->
<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">

  <div class="left-options">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h2 id="subjectTitle">{{this.subjectSelected.getObjectDB().getNombre()}}</h2>
  </div>
  <span class="spacer"></span>
  <a mat-tab-link *ngFor="let link of links; let i = index" (click)="changeLink(i)" [active]="activeLink == link"> {{link}} </a>
  <span class="spacer"></span>
  <div class="right-options">
    <button mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
    <h2 id="subjectTitle" (click)="salir()">Salir</h2>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div>
  <router-outlet></router-outlet>
</div>