<mat-list>
    <h3 mat-subheader id="title">{{titleList}}</h3>
    <mat-divider id="title-divider"></mat-divider>
    <mat-list-item *ngFor="let person of personList; last as last" id="{{person}}">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>{{person['nombre']}}</h4>
        <p mat-line>{{person['correo']}} </p>
        <button mat-icon-button color="primary" (click)="delete(deleteMessage, person)">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>

<ng-template #deleteMessage>
    <app-delete-dialog [person]="deletedPerson"></app-delete-dialog>
</ng-template>