<app-navbar></app-navbar>
<div id="wrapper">
    <div id="iframe" class="dos" width="720px" height="480px"
        allow="autoplay;camera;microphone;fullscreen;picture-in-picture;display-capture;midi;geolocation;">
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon mat-icon>group</mat-icon>Grupo
            </mat-card-title>
        </mat-card-header>
        <mat-chip-list>
            <mat-chip color="primary" *ngFor="let member of group" selected>{{member}}</mat-chip>
        </mat-chip-list>
    </mat-card>
</div>