#centered-wrapper {
    display: grid;
    justify-items: center;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 50rem);
    margin-top: 1rem;
}

mat-card{
    border: 0.5px solid;
    margin-bottom: 1rem;
    cursor: default;
    user-select: none;
}

#router{
    user-select: none;
}