#centered-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    margin-top: 1rem;
    display: flex;
    width: 60%;
}

#subject {
    width: 35%;
}

#outlet {
    width: 65%;
}

mat-card{
    margin-right: 0.5rem;
    border: 0.5px solid;
}