
.codigo-avatar {
    background-image: url('../../../../assets/imagenes/subjectcode.png');
    background-size: cover;
}
.codigo-materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}