<mat-card class="card-materia">
    <mat-card-header>
        <div mat-card-avatar class="codigo-avatar"></div>
        <mat-card-title>Código de clase</mat-card-title>
        <mat-card-subtitle>Pídele a tu profesor el código de clase e introdúcelo aquí.</mat-card-subtitle>
    </mat-card-header>
    <div class="codigo-materia">
        <form class="codigo-form" (submit)="handleRegister()">
            <mat-form-field appearance="fill">
              <mat-label>Código de clase</mat-label>
              <input [(ngModel)]="codeSubject" matInput name="code" placeholder="Ej. AJ12SL">
            </mat-form-field>
        </form>
        <button (click)="handleRegister()" mat-button color="primary">Unirme</button>
    </div>
</mat-card>