<div class="grid">
    <div class="cabecera">
        <div class="info-cabecera">
            <div class="mat-display-1">{{this.selectedSubject.getSubjectInfo().nombre}}</div>
            <div class="mat-headline">{{this.selectedSubject.getSubjectInfo().docente}}</div>
            <div class="mat-body-strong">{{this.selectedSubject.getSubjectInfo().descripcion}}</div>
        </div>

    </div>
    <div class="practica" *ngFor="let practice of practices">
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-display" color="primary" mat-list-icon>science</mat-icon>
                <div mat-line>{{this.selectedSubject.getSubjectInfo().docente}} ha publicado una nueva práctica: Práctica de {{practice.nombre}}</div>
                <div mat-line>Fecha de creación: {{practice.fecha_creacion.seconds * 1000 | date: 'longDate'}}</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>