
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(200px,auto);
    gap: 1rem;
}

.mat-display-1{
    margin: 0;
}
.mat-title{
    font-weight: 300;
}

.cabecera{
    background-color: #13254a;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    text-align: start;
    color: white;
}

.practica{
    border:1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 10px lightgray;
    cursor: pointer;
}

.icon-display {
    transform: scale(2);
    
 }