<div class="grid">
    <div class="cabecera">
        <h1>Aqui va un componente con encabezado</h1>
        <h2>Vista de las practicas asociadas a un curso</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste iure laudantium tempora. Sit culpa
            non molestias eligendi a dolor, tempore dignissimos, ratione cupiditate assumenda mollitia rem. Doloribus,
            placeat quia.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil nulla facere tempore. Ad enim quasi ratione
            distinctio eum ipsam officiis eligendi eaque! Laborum nulla eaque suscipit sint odit ducimus laudantium?</p>
    </div>
    <div class="practica">
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-display" color="primary" mat-list-icon>science</mat-icon>
                <div mat-line>Jorge Adrian Muñoz Velasco ha creado: Práctica de Caída libre</div>
                <div mat-line>Fecha de creación: 12 de mayo</div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="practica">
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-display" color="primary" mat-list-icon>science</mat-icon>
                <div mat-line>Jorge Adrian Muñoz Velasco ha creado la práctica: Caída libre</div>
                <div mat-line>Fecha de creación: 12 de mayo</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>