.container {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  }
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(200px,auto);
    gap: 1rem;
}

.mat-display-1{
    margin: 0;
}
.mat-title{
    font-weight: 300;
}

.cabecera{
    background-color: #283593;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    text-align: start;
    color: white;
}

.practica{
    border:1px solid lightgrey;
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px lightgray; */
    cursor: pointer;
}
.practica:hover{
    box-shadow: 3px 3px 10px lightgray;
}

.icon-display {
    transform: scale(1.4);
    background-color: #283593;
    background-size: cover;
    color: white;
    margin: 10px;
 }