<div class="grid">
    <div class="cabecera">
        <div class="info-cabecera">
            <div class="mat-display-1">Mécanica - Grupo A</div>
            <div class="mat-title">Jorge Adrián Muñoz Velasco</div>
        </div>

    </div>
    <div class="practica">
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-display" color="primary" mat-list-icon>science</mat-icon>
                <div mat-line>Jorge Adrian Muñoz Velasco ha creado: Práctica de Caída libre</div>
                <div mat-line>Fecha de creación: 12 de mayo</div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="practica">
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-display" color="primary" mat-list-icon>science</mat-icon>
                <div mat-line>Jorge Adrian Muñoz Velasco ha creado: Práctica de Caída libre</div>
                <div mat-line>Fecha de creación: 12 de mayo</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>