<div>
    <h2 mat-dialog-title>Programar practica</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Inicio de la practica</mat-label>
            <input type="date" matInput placeholder="Inicio practica" [formControl]="start" required>
            <mat-error *ngIf="start.touched">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" [mat-dialog-close]="start.value" [disabled]="start.invalid" >Programar</button>
    </mat-dialog-actions>
</div>