<div id="container">
    <div id="content">
        <div class="mat-headline">{{practiceDB.getObjectDB().getNombre() | titlecase}}</div>
        <div class="mat-body-strong">Creado: {{practiceDB.getObjectDB().getFecha_creacion().seconds * 1000 | date:
            'longDate'}}</div>
        <mat-divider></mat-divider>
        <div id="dates">
            <div class="mat-body-strong">Inicio de practica: {{practiceDB.getObjectDB().getInicio().seconds * 1000 |
                date: 'longDate'}}</div>
            <div class="mat-body-strong">Fin de practica: {{practiceDB.getObjectDB().getFin().seconds * 1000 | date:
                'longDate'}}</div>
        </div>
        <div class="mat-body-1" *ngIf="practiceDB.getObjectDB().getDescripcion() !== ''; else description">
            {{practiceDB.getObjectDB().getDescripcion()}}</div>
        <ng-template #description>
            <div class="mat-body-1">Sin descripción</div>
        </ng-template>
        <br>
        <div id="grid-file" *ngIf="fileLinks.length !== 0; else files">
            <div class="file" *ngFor="let fileLink of fileLinks" (click)="openFile(fileLink)">
                <img *ngIf="fileLink.getImage()" src="./assets/imagenes/{{fileLink.getImage()}}.png">
                <div>
                    {{fileLink.getName().split('.')[0]}}
                    <br>
                    {{fileLink.getExt()}}
                </div>
            </div>
        </div>
        <ng-template #files>
            <div class="mat-body-1">Sin archivos adjuntos</div>
        </ng-template>
        <br>
        <div class="mat-body-strong" *ngIf="plant">Planta: {{plant.getNombre()}}</div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                {{node.name}}
            </mat-tree-node>
      
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.name}}
                </div>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
</div>