  .grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .column{
    padding: 2rem;
  }

  .slider{
    display: flex;
    flex-direction: column;
  }

  .input{
    display: flex;
    flex-direction: column;
  }

  .mat-divider{
    border-top-width: 2px;
    background-color: #283593;
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .buttons > button{
    flex: 40%;
  }