<div class="container">
    <div class="grid">
        <div class="column">
            <div id="iframe" class="dos" width="720px" height="480px"
                allow="autoplay;camera;microphone;fullscreen;picture-in-picture;display-capture;midi;geolocation;">
            </div>
        </div>
        <div class="column">
            <div class="mat-h2">
                Panel de control
                <mat-divider></mat-divider>
            </div>
            <div [formGroup]="practiceForm">
                <div *ngFor="let const of constants" class="input">
                    <mat-form-field *ngIf="range === undefined || !range[const.getId()]; else inputRange"
                        appearance="fill">
                        <mat-label>{{const.getId()}} ({{units[const.getId()]}})</mat-label>
                        <mat-select formControlName={{const.getId()}}>
                            <mat-option *ngFor="let val of const.getObjectDB(); let i = index " [value]="i+1">{{val}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-template #inputRange>
                        <div class="slider">
                            <mat-form-field appearance="fill">
                                <mat-label>{{const.getId()}} máximo ({{units[const.getId()]}})</mat-label>
                                <input matInput type="number" placeholder="" formControlName={{const.getId()}} required>
                            </mat-form-field>
                            <mat-error *ngIf="practiceForm.get(const.getId())?.touched">
                                {{getErrorMessage(const.getId())}}
                            </mat-error>
                            <mat-slider class="example-margin" [max]="const.getObjectDB()[1]"
                                [min]="const.getObjectDB()[0]" [thumbLabel]="true"
                                value="{{practiceForm.get(const.getId())?.value}}"
                                (change)="sliderChange($event.value!, const.getId())" color="primary">
                            </mat-slider>
                        </div>
                    </ng-template>
                </div>
                <div class="mat-body-2">
                    Resultado: {{this.repResult}}
                </div>
                <br>
            </div>

            <div class="buttons">
                <button mat-button color="link" (click)="startPlant()" [disabled]="practiceForm.invalid || processing || close || finished">Iniciar
                    repetición</button>
                <button [disabled]="practiceForm.invalid || finished || close" mat-button color="link" (click)="stopPlant()">Finalizar repetición</button>
                <button mat-flat-button color="primary" (click)="finalizarPractica()" [disabled]="processing || finished">Terminar práctica</button>
                <button (click)="onReportAnomaly()" [disabled]="processing" mat-flat-button color="warn">Reportar anomalía</button>
            </div>
            <br>
            <div class="mat-body-2">
                Nota: Al terminar la práctica se descargarán los resultados automáticamente y serás redireccionado a Inicio.
            </div>
        </div>
    </div>
</div>